


@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@300;400;700&display=swap');


body{
background-color:#F5F5F1 ;
color: white;
font-family:'Saira Condensed';
font-weight: 400;
font-size: 24px;
}


h1,h2 { 
color:   #feb236;
}

div { 
    width: 700px;
    box-shadow: 0 10 30 rgba(0, 0, 0, 0.3);
}

.card { 
    background-color: #a2836e ;
    border-radius: 15px;
    box-shadow: 0px 10px 30px rgba(1, 15, 98,0.3);
    text-align: center;
    margin: 20px 0px;
    padding: 30px;
}

h1 {font-family:'Kaushan Script';
    font-size: 40px;
    background-color: #FFFFFF;
    padding: 10px;
    border-radius: 10px;
}

h2{ font-family: 'Architects Daughter';
    font-size: 32px;

}

.img-circle {
    border-radius: 50%;
    width: 150px ;
}
a {
text-decoration: none;
font-family: 'Architects Daughter';
}

#container {
    width: 700 px;
    margin: 50px auto;
}

.btn-yellow {
    background-color:#ffef96;
    padding: 10px;
    color: #feb236;
    border-radius: 4px;
    font-size: 28px;
    margin: 10px;
}

.btn-yellow:hover{
background-color:#7e4a35;
color:white;

}

